.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.board{
  display: flex;
  justify-content: center;
}

.rowsBoard{
  width:30px;
  height:30px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(211, 211, 211);
}

.rowsBoard:hover{
  background-color: rgb(185, 185, 185);
}

.not-revealed {
  width:30px;
  height:30px;
  border: 1px solid black;
  border-left: 2px white solid;
  border-top: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(211, 211, 211);
}

.full-board {
  border: 1px solid black;
  border-right: 2px white solid;
  border-bottom: 2px solid white;
  

}

/* .revealed {
  background-color: rgb(211, 211, 211);
} */